:root {
  --white-color: #E0EDF5;
  --blue-color: #00F3F7;
  --dark-blue-color: #0D222D;
  --darkest-blue-color: #08171E;
  --secondary-dark-blue-color: #041219;
  --grey-blue-color: #6395B4;
}

html {
  scroll-behavior: smooth;
}

html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

* {
  box-sizing: border-box;
  color: var(--white-color);
  margin: 0;
  font-family: 'Kumbh Sans';
}

.color-blue {
  color: var(--blue-color)
}

.full-container {
  background-color: var(--dark-blue-color);
  background-image: url(/bgAbout.svg), url(/background.svg);
  background-position: top, bottom;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  position: relative;
}

@media screen and (max-width: 1024px) {
    .full-container {
      -webkit-background-size: 200%;
      -moz-background-size: 200%;
      -o-background-size: 200%;
      background-size: 200%;
    }
  }

.homepage {
  section {
    padding-top: 7rem;
  }
}

.two-line-title {
    line-height: 5rem;

    span:last-child {
      margin-left: 15rem;
    }
  }

  @media only screen and (max-width: 1023px) {
    .two-line-title {
      span:last-child {
        margin-left: 0;
      }
    }
  }
