@import 'tailwindcss';

@theme {
  --color-white: #E0EDF5;
  --color-blue: #00F3F7;
  --color-dark-blue: #0D222D;
  --color-darkest-blue: #08171E;
  --color-secondary-dark-blue: #041219;
  --color-grey-blue: #6395B4;
}

@utility container {
  padding-inline: 2rem;
	margin-inline: auto;

	@variant sm {
		padding-inline: 2rem;
	}
	@variant lg {
		padding-inline: 5rem;
	}
	@variant xl {
		padding-inline: 6rem;
	}
}

html {
  scroll-behavior: smooth;
}

html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

* {
  box-sizing: border-box;
  color: var(--color-white);
  font-family: 'Kumbh Sans';
}

.color-blue {
  color: var(--color-blue)
}

.full-container {
  background-color: var(--color-dark-blue);
  background-image: url(/bgAbout.svg), url(/background.svg);
  background-position: top, bottom;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  position: relative;
}

@media screen and (max-width: 1024px) {
    .full-container {
      -webkit-background-size: 200%;
      -moz-background-size: 200%;
      -o-background-size: 200%;
      background-size: 200%;
    }
  }

.homepage {
  section {
    padding-top: 7rem;
  }
}

.two-line-title {
    line-height: 5rem;

    span:last-child {
      margin-left: 15rem;
    }
  }

@media only screen and (max-width: 1023px) {
  .two-line-title {
    span:last-child {
      margin-left: 0;
    }
  }
}
