---
import ContactMenu from '@components/ContactMenu.astro';
import StrokeText from '@components/StrokeText.astro';
import Title from '@components/Title.astro';
import { contactContent } from '@constants/content/contact';
import { menuIds } from '@constants/content/home';

const { title1, title2 } = contactContent[Astro.currentLocale as 'es' | 'en'];
---

<section class="contact-section" id={menuIds.option5}>
  <div class="container">
    <div class="text-center flex justify-center">
      <Title level="h2" class="two-line-title">
        <span class="color-blue">{title1}</span><br />
        <StrokeText color={'blue'}>{title2}</StrokeText>
      </Title>
    </div>
    <ContactMenu fromContact />
  </div>
</section>

<style>
  .contact-section {
    padding-bottom: 9rem;
  }
</style>
