---
interface Props {
  id: string;
  text: string;
}

const { id, text } = Astro.props;
---

<li
  class="border-b-dark-blue border-b-1 [.active]:text-blue [.active]:border-b-blue hover:text-blue hover:border-b-blue transition-all duration-200 cursor-pointer"
>
  <a href={`#${id}`}>{text}</a>
</li>
