---
interface Props {
  color?: 'white' | 'blue';
}

const { color = 'white' } = Astro.props;
---

<span class={`stroke-text ${color}`}><slot /></span>

<style>
  .stroke-text {
    color: transparent;
    outline-width: 1px;
    -moz-outline-width: 1px;
    -webkit-text-stroke-width: 1px;
    transition: all 0.4s ease-in;
  }

  .stroke-text.white {
    outline-color: var(--color-white);
    -moz-outline-color: var(--color-white);
    -webkit-text-stroke-color: var(--color-white);
  }

  .stroke-text.white:hover {
    color: var(--color-white);
  }

  .stroke-text.blue {
    outline-color: var(--color-blue);
    -moz-outline-color: var(--color-blue);
    -webkit-text-stroke-color: var(--color-blue);
  }

  .stroke-text.blue:hover {
    color: var(--color-blue);
  }
</style>
