---
interface Props {
  level: 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6';
  class?: string;
}

const { level, class: className } = Astro.props;
---

{
  level === 'h1' ? (
    <h1 class:list={['h1', className]}>
      <slot />
    </h1>
  ) : level === 'h2' ? (
    <h2 class:list={['h2', className]}>
      <slot />
    </h2>
  ) : level === 'h3' ? (
    <h3 class:list={['h3', className]}>
      <slot />
    </h3>
  ) : level === 'h4' ? (
    <h4 class:list={['h4', className]}>
      <slot />
    </h4>
  ) : level === 'h5' ? (
    <h5 class:list={['h5', className]}>
      <slot />
    </h5>
  ) : level === 'h6' ? (
    <h6 class:list={['h6', className]}>
      <slot />
    </h6>
  ) : (
    <p>
      <slot />
    </p>
  )
}

<style>
  .h1 {
    font-size: 5rem;
  }

  .h2 {
    font-size: 4rem;
  }

  .h3 {
    font-size: 3rem;
  }

  .h4 {
    font-size: 2rem;
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .h1 {
      font-size: 4.75rem;
    }

    .h2 {
      font-size: 3.75rem;
    }

    .h3 {
      font-size: 2.75rem;
    }

    .h4 {
      font-size: 1.75rem;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .h1 {
      font-size: 4.5rem;
    }

    .h2 {
      font-size: 3.5rem;
    }

    .h3 {
      font-size: 2.5rem;
    }

    .h4 {
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 767px) {
    .h1 {
      font-size: 4rem;
    }

    .h2 {
      font-size: 3rem;
    }

    .h3 {
      font-size: 2rem;
    }

    .h4 {
      font-size: 1rem;
    }
  }
</style>
