---
import '@styles/global.css';
import '@assets/fonts/Kumb_Sans/stylesheet.css';
import Header from '@components/Header/Header.astro';
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang={Astro.currentLocale} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Luis Farfán</title>

    <ClientRouter />
  </head>
  <body class="text-white box-border font-kumbh m-0 w-full h-full">
    <main class="homepage full-container">
      <Header />
      <slot />
    </main>
  </body>
</html>
