---
import { techStack } from '../../constants/content';
---

<div class="py-8 border-y border-dark-700 bg-dark-800/50 overflow-hidden">
  <div class="flex whitespace-nowrap">
    <div class="tech-marquee flex items-center space-x-8">
      {
        [...techStack, ...techStack].map((tech) => (
          <span class="text-gray-400 font-mono text-sm tracking-wider">
            {tech}
          </span>
        ))
      }
    </div>
  </div>
</div>
